.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 20px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100px;
  width: 20%;
  min-width: 20px;
}